---
title: About Us
component: ContentPage
---
p.
  Le but de cette recherche est de créer une application web permettant d’identifier des points sur un graphique grâce à
  des images. En effet, il existe déjà plusieurs librairies permettant de créer des graphiques, mais aucune ne permet de
  rajouter des images directement dans le graphique. Par exemple, il existe Google charts, Angular-nvD3, etc.
p.
  Pouvoir ajouter des images pour identifier des points dans un graphique permet de rajouter une autre dimension à la
  façon de présenter des statistiques. Bien que l’utilisation de cette fonctionnalité est très spécifique à certains cas,
  l’ajout d’une telle fonctionnalité permettrait de clarifier les informations présentées dans le graphique. Par exemple,
  si l’on veut présenter la taille et la grandeur des athlètes de la NHL il serait possible de mettre dans le graphique
  les photos de chacun des athlètes pour pouvoir facilement les comparer.
p.
  Pour pouvoir atteindre ce but, il nous sera nécessaire d’apprendre de nouvelles technologies qui nous permettront de
  facilement générer des graphiques. Une technologie intéressante à utiliser serait la librairie Javascript React.
  En effet, cette nouvelle librairie prend rapidement de la popularité et est très reconnue pour être pratique pour
  créer éléments visuels facilement réutilisables.
p.
  La libraire React est nouvelle pour nous, mais nous sommes tout de même habitués à utiliser des librairies Javascript
  comme Angular et nous avons créé plusieurs applications web. Pour l’instant, nous devons apprendre comment utiliser la
  librairie et comment intégrer notre idée à des graphiques existants.